/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: #0088D2;
}
.ad {
  background-color: white;
  border-radius: 4px;
  margin: 0 0 15px 0;
  padding: 10px 20px 20px 20px;
  width: 100%;
}
.username {
  width: 60%;
  display: inline-block;
  float: left;
  color: #337ab7;
}
.date {
  width: 40%;
  display: inline-block;
  float: right;
}
.location {
  color: #337ab7;
}
.ad-image{
  margin-bottom: 20;
  width: 330px;
  height: 400px;
  background-color: red;
  margin: 0 auto;
}
.fish {
  width: 50%;
  display: inline-block;
  float: left;
}
.fishDetail {
  width: 50%;
  display: inline-block;
  float: left;
  color: #337ab7;
}
.quantity {
  width: 50%;
  display: inline-block;
  float: left;
}
.quantDetail {
  width: 50%;
  display: inline-block;
  float: left;
  color: #337ab7;
}
.weight{
  width: 50%;
  display: inline-block;
  float: left;
}
.weightDetail {
  width: 50%;
  display: inline-block;
  float: left;
  color: #337ab7;
}
.price{
  width: 50%;
  display: inline-block;
  float: left;
}
.priceDetail {
  width: 50%;
  display: inline-block;
  float: left;
  color: #337ab7;
}
.contactButt {
  margin: 0 auto;
  display: inline-block;
}