<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="ads">
        <li ng-repeat="ad in ads | filter:query | orderBy:orderProp"
            class="thumbnail ad-listing">
          <a href="#/ads/{{ad.id}}" class="thumb"><img ng-src="{{ad.imageUrl}}"></a>
          <a href="#/ads/{{ad.id}}">{{ad.name}}</a>
          Landing: {{ad.landing}}
          Catch Info:
          Species: {{ad.species}}
          Quality: {{ad.quantity}}
          Weight: {{ad.weight}}
          Price: {{ad.price}}
          * Whole Fish Only
        </li>
      </ul>

    </div>
  </div>
</div>
