<div class="createPost" ng-controller="CreateCtrl">
  <form novalidate class="createForm">
    <label for="speciesSelect">Species: </label>
    <select name="speciesSelect" ng-model="fish.speciesSelect">
      <option ng-repeat="fish in fish.species" value="{{fish.id}}">{{fish.name}}</option>
    </select><br>

    <label for="speciesInput">If not listed, Fish Name: </label>
    <input type="text"><br>

    <label for="sizeSelect">Size: </label>
    <select name="sizeSelect" ng-model="fish.sizeSelect">
      <option ng-repeat="fish in fish.size" value="{{fish.id}}">{{fish.size}}</option>
    </select><br>

    <label for="sizeInput">If not listed, Fish Size: </label>
    <input type="text"><br>

    <label for="quantitySelect">Quantity: </label>
    <select name="quantitySelect" ng-model="fish.quantitySelect">
      <option ng-repeat="fish in fish.quantity" value="{{fish.quantity}}">{{fish.quantity}}</option>
    </select><br>

    <label for="priceSelect">Price: </label>
    <select name="priceSelect" ng-model="fish.priceSelect">
      <option ng-repeat="fish in fish.price" value="{{fish.price}}">{{fish.price}}</option>
    </select><br>


    <label ng-repeat="per in fish.per" for="{{per}}">
      <input type="radio" ng-value="per" id="{{per}}" per="favorite">{{per}}
    </label><br>

    <label ng-repeat="whole in fish.whole" for="{{whole}}">
      <input type="radio" ng-value="whole" id="{{whole}}" whole="favorite">{{whole}}
    </label><br>

    <label for="locationSelect">Catch Location: </label>
    <select name="locationSelect" ng-model="fish.locationSelect">
      <option ng-repeat="fish in fish.location" value="{{fish.location}}">{{fish.location}}</option>
    </select><br>

  </form>
</div>




