<div class="fisherman" ng-controller="FishermanCtrl">
  <h5>my profile</h5>

  <p>
    <label for="fisherman.name">Name:</label>
    <input type="text" value="{{fisherman.name}}"><br>
  </p>

  <p>
    <label for="fisherman.phone">Phone:</label>
    <input type="text" value="{{fisherman.phone}}"><br>
  </p>

  <p>
    <label for="fisherman.location">Location:</label>
    <input type="text" value="{{fisherman.location}}"><br>
  </p>

  <p>
    <label for="fisherman.bio">Bio:</label>
    <textarea name="{{fisherman.bio}}" id="" cols="30" rows="10">{{fisherman.bio}}</textarea><br>
  </p>

  <p>
    <button><a href="ads">Submit</a></button>
  </p>
</div>