<div class="something" ng-controller="MarketPlaceCtrl">
  <ul class="ads">
    <li ng-repeat="ad in ads" class="thumbnail ad-listing">
      <div class="wrapper">
        <div class="ad-top">
          <div class="username">
            <h3><a href="#">{{ad.fields.name}}</a></h3>
          </div>

          <div class="location">
            <h3>Location: {{ad.fields.location}}</h3>
          </div>

          <div class="phone">
            <h3>Phone: {{ad.fields.phone}}</h3>
          </div>
        </div>

        <div class="ad-photo">
          <a href="#/ads/{{ad.id}}" class="thumb"><img ng-src="{{ad.imageUrl}}"></a>
        </div>

        <div class="ad-info">
          <div class="species">
            <h3>Species: {{ad.fields.fish}}</h3>
          </div>
          <div class="quantity">
            <h3>Quantity: {{ad.fields.quantity}}</h3>
          </div>
          <div class="weight">
            <h3>Weight: {{ad.fields.size}}</h3>
          </div>
          <div class="price">
            <h3>Price: {{ad.fields.price}}</h3>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
